body {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.Увійти {
    display: flex;
}

.header-dicker {
    display: flex;
    justify-content: space-around;
    color: beige;
    width: 100%;
    height: 25px;
    background-color: #333F49;
}

.header-link {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.text {
    display: flex;
    color: beige;
}

.picture-header {
    display: flex;
    margin-top: 0;
    margin-right: 0;
}