body {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.Увійти {
    display: flex;
}

.header-dicker {
    display: flex;
    justify-content: space-around;
    color: beige;
    width: 100%;
    height: 25px;
    background-color: #333F49;
}

.third-header-link {
    text-decoration: none;
}

.third-header-link.active {
    color: black;
}

.header-link {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.text {
    display: flex;
    color: beige;
}

.picture-header {
    display: flex;
    margin-top: 0;
    margin-right: 0;
}

.second-header {
    display: flex;
    align-items: center;

}
.quote {
    width: 500px;
    height: 70px;
    margin-left: 20px;

}
.languges {
    display: flex;
    align-items:center;
    padding: 10px;
}
.bottom-txt {
    display: flex;
    color: white;
    justify-content: space-between;
    text-decoration: none;
    background-color: #333F49;
}
.div-nn {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.quote9 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.quote6 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}